<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Student Data</title>
  </head>

  <header>
    <div class="header-back">
      <h1>CONTACT DIRECTORY</sub></h1>
      
    </div>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='display.css') }}">
    <div class="text-background">
      <nav>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Add</a>
          <div class="dropdown-content">
            <a href="students.html">Students</a>
            <a href="faculties.html">Faculty</a>
          </div>
          </li>
          <li><a href="display.html">Students</a></li>
          <li><a href="display1.html">Faculty</a></li>
        <li><a href="search.html">Search</a></li>
      </ul>
      </nav>
    </div>
  </header>


  <body>
    <div class="text"><b>Faculty</b></div>
    <h1>Faculty Data</h1>
    <div class="table-container">
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Faculty Id</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Qualifications</th>
        <th></th>
      </tr>
      {% for student in faculties %}
      <tr>
        <td>{{ student[1] }}</td>
        <td>{{ student[2] }}</td>
        <td>{{ student[3] }}</td>
        <td>{{ student[4] }}</td>
        <td>{{ student[5] }}</td>
        <td>
          <form method="POST" action="{{ url_for('deleteStudent') }}">
            <input type="hidden" name="id" value="{{ student[0] }}">
            <button type="submit">DELETE</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>


    <a href="{{ url_for('addPage') }}" id="bottom-right">
      <button>HOME</button>
    </a>
  </body>
</html>
